/* padding: t r b l */

body {
	margin: 0;
	padding: 0; 
	text-align: center;}

/* Aligning the text center makes the document dispaly in the center of the
window in older versions of IE */

/* General Styles - The most Basic of styles theses are addressed in the
simple.css file */

p.image img, .image img {
    border: 1px solid #ccc;}
    
p.nomargin, .image p {
	margin-bottom: 0;}

p.smallMargin {
	margin-bottom: 5px;}

p sup {
	line-height: 11px;}
	
p.subtitle {
	color: #999;}
	
p.icons {
	background: url(../images/iconBG.gif) 0px 0px no-repeat;
	padding-left: 1px;
	margin: 0 0 3px 0;}

.imageBlock p.icons {
    background-position: 77px 0px;}
	
p.resultsLinks {
	float: right;}
	
p.icons img, p.icons a img, p.icons a:link img,  p.icons a:visited img,  p.icons
a:hover img,  p.icons a:active img {
	display: inline;}

ul.relatedLinks {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 9px;
	padding: 0;}

ul.relatedLinks ul.relatedLinks {
	margin-bottom: 0px;}
	
ul.relatedLinks li {
    list-style-type: none;
    background: url(../images/navBul.gif) 0 5px no-repeat;	
	color: #666;
	margin-left: 0;
	padding: 0 0 0 8px;}
	
ul.noBull {
   	margin-left: 0;
	padding: 0 0 0 0;
	list-style-type: none;}
	
ul.noBull ul {
	margin-left: 0;
	padding: 0;
	list-style-type: none;}

ul.noBull li {
    padding: 0 0 3px 1px;
	list-style-type: none;}
	
ul.dash li, ul.navigation ul.dash li {
	padding: 0 0 0 8px;
	background-image: url(../images/dash.gif);
	background-position: 0 3px; 
	background-repeat: no-repeat;
	color: #666;
	font-weight: bold;}

form {
	margin: 0 0 15px 0;
	padding: 0;
	border: 0;}

/*GET MONEY
input {
	margin: 0;
	padding: 0;
	display: inline;}*/

select, option {
	font-family: Arial, Helvetica, san-serif;}
	
/*GET MONEY
label {
	display: block;
	margin: 5px 0 3px 1px;
	color: #666;
	font-weight: normal;}*/

span.sm {
	padding:0 10px 0 0;
	background: url(../images/en/service_mark.gif) top left no-repeat;}
	
tr.odd {
	background-color: #F7F7F7;}
		
/* Layout Table Styles */

#document {
    width: 745px;
    text-align: left;
    margin: 0 auto 0 auto;}
    	
/* The second to last rule makes all content align left (fixes rule from body)
The last rule makes the document center in most browsers */

/*
 ###########################
# Head Styles				#
 ###########################
*/

#head {
	padding: 5px 0 5px 0;}

#util {
	float: right;
	text-align: right;}	
	
#util, #util a:link, #util a:visited {
	color: #999;
	text-decoration: none;}

#util a:hover, #util a:active {
	color: #666;
	text-decoration: underline;}

#homeHead {
    background: url(../images/headBG.jpg) 290px 0 no-repeat;
	padding: 29px 0 15px 0;}

#home_noImgHead {
	padding: 29px 8px 0 8px;}
	
#homeHead #monogram, #home_noImgHead #monogram {
	padding: 0 0 0 0;
	margin: 0;
	width: 60px;}
	
#nav1 {
	clear: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #F7F7F7;}
	
#nav1 table {
	margin: 0;
	font-size: 10px;
	line-height: 10px;
	width: 100%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}

#nav1 table table {
	border-bottom: 0;
	border-right: 0;}

/* IF YOU HAVE VERY LONG NAV TITLES, OR MORE THAN FOUR ITEMS YOU WILL PROBABLY NEED TO CHANGE THE RIGHT PADDING ON THIS */
#nav1 td {
	color: #666;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	padding-left: 15px;
	text-transform: uppercase;}


/* THESE VALUES WILL NEED TO CHANGE BASED ON YOUR NAVIGATION SCHEME */

#nav1 #searchCell {
	padding: 0;
	width: 184px;}

#nav1 #searchCell td {
	padding: 2px 0 0 8px;
	font-size: 10px;}

#nav1 td img {
	display: inline;}

#nav1 #searchCell form {
	margin: 0;}

#nav1 #searchCell a:link, #nav1 #searchCell a:visited {
	color: #3B73B9;}
	
#nav1 #searchCell a:hover {
	color: #A9B8DF;
	text-decoration: underline;}
	
#nav1 #searchCell a:active {
	color: #333;
	text-decoration: underline;}
	
#nav1 #searchCell td input {
	font-size: 9px;
	padding-top: 3px;
	line-height: 9px;
	color: #666;
	background-color: #fff;}

#nav1 #searchCell #searchInputCell {
    width: 94px;}
    
#nav1 td.selected a:link, #nav1 td.selected a:visited, #nav1 td.selected a:hover
#nav1 td.selected a:active {
	color: #000;
	font-size: 10px;
	line-height: 10px;}

#nav1 a:link, #nav1 a:visited, #nav1 a:active {
	color: #666;
	text-decoration: none;
	font-size: 10px;
	line-height: 10px;} 

#nav1 a:hover {
	color: #A9B8DF;
	text-decoration: underline;
	font-size: 10px;
	line-height: 10px;}
	
/*
 ###########################
# Nav Styles				#
 ###########################
*/

#nav2 {
    padding: 55px 31px 35px 0;
    width: 163px !important; /* Styles for Mozilla, Safari, IE Mac */
    width: 194px; /* Styles for MS IE5 PC */
    width/**/:/**/163px; /* Styles for IE6 PC */}

.home #nav2 {
    padding-top: 25px;
    width: 163px !important; /* Styles for Mozilla, Safari, IE Mac */
    width: 194px; /* Styles for MS IE5 PC */
    width/**/:/**/163px; /* Styles for IE6 PC */}
   

.home #nav2 form {
	margin: 0;}
    
#nav2 a:link, #nav2 a:visited {
	color: #3B73B9;
	text-decoration: none;} 
	
#nav2 a:hover, #nav2 a:active {
	color: #A9B8DF;
	text-decoration: underline;}

#nav2 ul.breadcrumb {
	list-style-type: none;
	margin: 0;
	padding-left: 0px;}
	
#nav2 ul.breadcrumb li  {
	font-weight: bold;
	padding: 2px 0 2px 18px;	
	border-bottom: 1px solid #ccc;
	background-image: url(../images/navOpenBul.gif);
	background-position: 8px 8px; 
	background-repeat: no-repeat;}
	
#nav2 ul.breadcrumb li.selected  {
	background-image: url(../images/navBul_selected.gif);}
	
#nav2 ul.breadcrumb li.selected a {
	color:#666;}	

#nav2 ul.navitemList {
	list-style-type: none;
	margin: 0px;
	padding: 0px;}
	
#nav2 ul.navitemList li  {
	padding: 2px 0 2px 26px;	
	border-bottom: 1px dotted #ccc;}
	
#nav2 ul.navitemList li.hasChildren, #nav2 ul.navitemList li.haschildren  {
	background-image: url(../images/navBul.gif);
	background-position: 18px 6px; 
	background-repeat: no-repeat;}

#nav2 ul.navitemList li.selected a {
	color:#666;}	

#nav2 ul.navitemList li.title {
    padding-left: 14px;
    background-image: none;
    color: #999;
    border-bottom: 0;}

#nav2 img {
	display: inline;}
    


/*
 ###################
# Main Area Styles  #
 ###################
*/

#mainCell {
    width: 551px;
    padding: 0 0 0 0;} 

/* Note that the homepage uses a different set of styles at the bottom */
    
#pageTitle {
    padding: 27px 0 15px 0;}

/* Body head Styles */
#bodyHead {
    border-bottom: 1px solid #ccc;}

/* Note that the homepage uses a different set of styles at the bottom */

.headTypeA {
    padding: 0 80px 0 0;}

.headTypeA .image {
    padding: 0 15px 15px 0;}
    
.headTypeB {
    padding-right: 160px;
    padding-bottom: 0 !important; /* Styles for Mozilla, Safari, IE Mac */
    padding-bottom: 10px; /* Styles for MS IE5 PC */
    padding-bottom/**/:/**/0; /* Styles for IE6 PC */
    }

.headTypeB p {
    margin-bottom: 15px;}

.headTypeC_1 {
    padding: 0 0 0 0;}

.headTypeC_1 table {
    width: 550px;}
    
.headTypeC_1 .text {
    padding: 0 40px 0 0;}
    
.headTypeC_1 .image, .headTypeC_1 .image p, .headTypeC_1 .image img,
.headTypeC_1 .image p img {
    padding: 0;
    margin: 0;
    border: 0;}
    
.headTypeC_2 {
    padding: 0 0 0 0;}

.headTypeC_2 .text {
    width: 286px !important; /* Styles for Mozilla, Safari, IE Mac */
    width: 326px; /* Styles for MS IE5 PC */
    width/**/:/**/286px; /* Styles for IE6 PC */
    padding: 0 40px 0 0;}
    
.headTypeC_2 .image, .headTypeC_2 .image p, .headTypeC_2 .image img,
.headTypeC_2 .image p img {
    padding: 0;
    margin: 0;
    border: 0;}
        
.headTypeD {
    width: 551px;
    }

.headTypeD .text {
    padding: 0 40px 0 0;}

.headTypeD .image p img {
    border: 0;}

.headTypeE {
    padding: 0 160px 0 0;
/*    font-size: 10px; */
    }
    
/*.headTypeE p, .headTypeE form {
 font-size: 10px;}*/

.headTypeF {
    width: 530px;}
    
.headTypeF .image {
    padding: 0;}
    
.headTypeF .text {
    padding: 0 0 0 31px;}

.headTypeX {
    width: 551px;}
       
/* 
 ##################
# Main Body Styles #
 ##################
*/    

#mainBody {
    padding: 15px 0 45px 0;}

.home #mainBody {
	padding-top: 30px;}

/* Note that the homepage uses a different set of styles at the bottom */


.grid_home { 
	width: 551px;}

.grid_home .col1 {
	width: 320px !important; /* Styles for Mozilla, Safari, IE Mac */
    width: 351px; /* Styles for MS IE5 PC */
    width/**/:/**/320px; /* Styles for IE6 PC */
    padding-right: 31px;}
	
.grid_home .col2 {
	width: 200px;}    

.grid_home .row2 .col1, .grid_home .row2 .col2 {
	padding-top: 15px;
	border-top: 1px solid #ccc;}

.grid_home .cell3 {
	width: 0;
	display: none;}  
	
.grid_2-3_1-3 {
    width: 551px;}

.grid_2-3_1-3 .col1 {
    width: 357px !important; /* Styles for Mozilla, Safari, IE Mac */
    width: 388px; /* Styles for MS IE5 PC */
    width/**/:/**/357px; /* Styles for IE6 PC */
    padding-right: 31px;}

.grid_2-3_1-3 .col2 {
    width: 163px;}

.grid_2-3_1-3 .cell3 {
	width: 0;
	display: none;}  
	
.grid_1-2_1-2 {
    width: 551px;}

.grid_1-2_1-2 .col1 {
    padding-right: 31px;
    width: 260px !important; /* Styles for Mozilla, Safari, IE Mac */
    width: 291px; /* Styles for MS IE5 PC */
    width/**/:/**/260px; /* Styles for IE6 PC */}

.grid_1-2_1-2 .col2 {
    width: 260px;}
    
.grid_1-2_1-2 .cell3 {
	width: 0;
	display: none;}  

.grid_1-3_1-3_1-3 {
    width: 551px;}

.grid_1-3_1-3_1-3 .col1, .grid_1-3_1-3_1-3 .col2 {
    width: 163px !important; /* Styles for Mozilla, Safari, IE Mac */
    width: 194px; /* Styles for MS IE5 PC */
    width/**/:/**/163px; /* Styles for IE6 PC */
    padding-right: 31px;}

.grid_1-3_1-3_1-3 .col3 {
    width: 163px;}
    
.grid_full .col1 {
    width: 551px;}

.grid_full .cell2, .grid_full .cell3 {
	display: none;
	width: 0px;}
    
.grid_full .col2, .grid_full .col3 {
    width: 0px;}
        
/* 
 #################
# Page Components #
 #################
*/

.imageBlock_noWrap, .actionBlock {
    clear: left;}

/*The below two rules are to fix a problem in IE Mac

See: http://centricle.com/ref/css/filters/tests/escaped_close/

*/

.imageBlock {
    clear: none;}

/* \*/
	.imageBlock {
    clear: left;}
/* */

.imageBlock p.image {
    float: left;
    margin: 0 12px 5px 0;}

div.imageBlock_noWrap .image {
    padding: 0 12px 15px 0;}

/* Use div class="imageBlock_noWrap" for ../images/ and shorter text, or text that
you do not want to wrap around the image. use div class="imageBlock" for when
you want the content to flow around the image. */

div.imageBlock_noWrap .image img {
    border: 1px solid #ccc;}

div.imageBlock_noWrap .image p {
    margin: 0;
    padding: 0;}

div.actionBlock, div.emailBlock {
	border: 1px solid #ccc;
	width: 98%;}
	
/*Use div class="actionBlock" for a call-to-action. div class="emailBlock"
blocks are a specific type of a call-to-action that has a small email icon in
the top right of the block */
	
div.actionBlock h5, div.emailBlock h5 {
	padding: 4px 10px 4px 10px;
	color: #f60;
/*	font-size: 10px;
	line-height: 14px;
	font-weight: normal; */
	text-transform: uppercase;}

div.actionBlock p, div.emailBlock p {
	border-top: 1px solid #ccc;
	padding: 10px 10px 0 10px;
	margin: 0 0 12px 0;}

div.actionBlock form,  div.emailBlock form {
	padding: 0 10px 12px 10px;}

div.actionBlock h5 a:link, div.actionBlock h5 a:visited, div.actionBlock h5
a:hover, div.actionBlock h5 a:active, div.emailBlock h5 a:link, div.emailBlock
h5 a:visited, div.emailBlock h5 a:hover, div.emailBlock h5 a:active {
	color: #f93;}
	
div.emailBlock h5 {
	padding-left: 28px;
	background: url(../images/iconSend.gif) top left no-repeat;}

div.emailBlock p, div.emailBlock form {
	padding-left: 28px;}

#permFeatures {
	border-bottom: 1px solid #ccc;}

#permFeatures p {	
	margin: 0;
	padding: 0;
	border-top: 1px solid #ccc;}

/*
 ###################################
# Foot Styles 						#
 ###################################
*/
	
#foot {
	border-top: 1px solid #ccc;
	padding: 13px 0 45px 0;
	margin: 0;
	text-align: left;
	color: #666;}

#foot p {
	margin: 0;
	padding: 0 0 5px 0;	}

#foot a:link {
	color: #666;}

#foot p#copy {
	padding-top: 5px;
	color: #999;}
		
/* 
 #############################################################
# font sizing  - All fixed font sizes have been commented out #
 #############################################################
*/

body {
    font-size: small;}

#util, input, p.subtitle, #breadCrumb {
	font-size: 10px;}
 
#util {
	line-height: 150%;}
	
select, option {
	font-size: 10px;
	line-height: 10px;
	color: #666;}

#mainBody, #nav2, #bodyHead, #foot {
    font-size: 85% !important; /* Styles for Mozilla, Safari, IE Mac */
    font-size: 70%; /* Styles for MS IE5 PC */
    font-size/**/:/**/85%; /* Styles for IE6 PC */
    line-height: 125%;
/*	line-height: 13px;
	font-size: 11px; */
}



ul.relatedLinks li {
	line-height: 150%;}

#mainBody table, #nav2 table {
    font-size: 100%;}


/* The following rule exists to fix an IE 5 PC bug */	
#bodyHead table {
    font-size: 100%;}

div.actionBlock h5, div.emailBlock h5, .headTypeE p, .headTypeE form, .headTypeE
{
	font-size: 90%;
	line-height: 125%;}	
	
h2, h3, h4, h5, h6 {
	font-size: 100%;}
